@charset "utf-8";

body {
  margin: 0;
  background-image: url("img/utyu2.jpg");
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background: rgba(238, 238, 238, 0.7);
  padding: 16px;
}

header h1 span {
  font-size: 48px;
  color: blue;
}

header h1 span:nth-child(3) {
  font-size: 48px;
  color: red;
}

main {
  padding: 32px 32px;
  position: relative;
}

.sentense {
  border:1px solid #eee;
  border-radius: 8px 88px 8px 8px;
  padding: 32px 16px;
  background-color: #fdf1f1;
}

.eigo {
  font-size: 32px;
}

.eigo:hover {
  background: black;
}

.eigo > div {
  /* outline: 1px solid red; */
  display: inline-block;
}


.hurigana div:nth-child(1) {
  font-size: 16px;
  text-align: center;
  position: relative;
  top: 10px;
}

.nihongo {
  margin-top: 16px;
}

audio {
  margin-top: 16px;
  width: 100%;
  max-width: 600px;
}

.uchu {
  display: block;
  object-fit: cover;
  position: absolute;
  top: 16px;
  right: 16px;
  animation: move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}


@keyframes move {
  50%{transform: translateY(100px);}
  100%{transform: translateY(0px);}
}